CTI/Vulnerability Research Agent workflow.json
{
  "name": "Vulnerability Research Agent workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -1120
      ],
      "id": "7c8513cb-bad8-4907-8597-da2a2530f533",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -976
      ],
      "id": "33637937-6a7a-4b5a-9f02-fc33b91bffc8",
      "name": "CISA KEV"
    },
    {
      "parameters": {
        "url": "=https://services.nvd.nist.gov/rest/json/cves/2.0?cveId={{ $json.cveID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -784
      ],
      "id": "d14e4135-b0e1-444d-81dd-ce132723993e",
      "name": "NVD"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/repositories?q={{ $json.cveID }}+poc+exploit&sort=updated&order=desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "N8N-Security-Research-Agent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -592
      ],
      "id": "d49274c5-0377-4445-9d32-05c3f517512d",
      "name": "GitHub - GHSA"
    },
    {
      "parameters": {
        "jsCode": "// Get vulnerabilities from the API response\nconst vulnerabilities = $input.first().json.vulnerabilities;\n\n// Get today's date and calculate the lookback window\nconst now = new Date();\nconst lookbackDays = 30;\nconst cutoffDate = new Date(now.getTime() - (lookbackDays * 24 * 60 * 60 * 1000));\n\n// Filter for recently added vulnerabilities\nconst newVulns = vulnerabilities.filter(vuln => {\n  const dateAdded = new Date(vuln.dateAdded);\n  return dateAdded >= cutoffDate;\n});\n\n// Return filtered results\nreturn newVulns.map(vuln => ({\n  json: {\n    cveID: vuln.cveID,\n    vendorProject: vuln.vendorProject,\n    product: vuln.product,\n    vulnerabilityName: vuln.vulnerabilityName,\n    dateAdded: vuln.dateAdded,\n    dueDate: vuln.dueDate,\n    shortDescription: vuln.shortDescription,\n    requiredAction: vuln.requiredAction,\n    inCisaKev: true\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -976
      ],
      "id": "26a20ed5-ceab-418d-9b2c-8f5dfb272e7c",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -960
      ],
      "id": "2704493c-3659-47cb-b108-240097702eed",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const cveData = $input.first().json;\nconst previousData = $('Wait').item.json;  // Loop içindeki mevcut item\n\n// Handle case where CVE isn't in NVD yet\nif (!cveData.vulnerabilities || cveData.vulnerabilities.length === 0) {\n  return [{\n    json: {\n      ...previousData,\n      cvssScore: 'Not yet scored',\n      cvssVector: 'N/A',\n      references: [],\n      description: previousData.shortDescription || 'No description available'\n    }\n  }];\n}\n\nconst vuln = cveData.vulnerabilities[0].cve;\nconst metrics = vuln.metrics || {};\n\nlet cvssScore = 'Not scored';\nlet cvssVector = 'N/A';\n\nif (metrics.cvssMetricV31 && metrics.cvssMetricV31.length > 0) {\n  cvssScore = metrics.cvssMetricV31[0].cvssData.baseScore;\n  cvssVector = metrics.cvssMetricV31[0].cvssData.vectorString;\n} else if (metrics.cvssMetricV30 && metrics.cvssMetricV30.length > 0) {\n  cvssScore = metrics.cvssMetricV30[0].cvssData.baseScore;\n  cvssVector = metrics.cvssMetricV30[0].cvssData.vectorString;\n} else if (metrics.cvssMetricV2 && metrics.cvssMetricV2.length > 0) {\n  cvssScore = metrics.cvssMetricV2[0].cvssData.baseScore;\n  cvssVector = metrics.cvssMetricV2[0].cvssData.vectorString;\n}\n\nconst references = vuln.references ? vuln.references.map(ref => ref.url) : [];\n\nreturn [{\n  json: {\n    ...previousData,\n    cvssScore: cvssScore,\n    cvssVector: cvssVector,\n    references: references,\n    description: vuln.descriptions?.find(d => d.lang === 'en')?.value || previousData.shortDescription\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -576
      ],
      "id": "4cd0a97c-40e6-4e1a-99cb-d9cfe1e149ef",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        -1200
      ],
      "id": "3ae6858d-eb6b-4377-b571-9e4df9c9a6f8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const searchResults = $input.first().json;\nconst previousData = $(\"Code1\").item.json; // Code1'den gelen enriched data\n\nconst pocRepos = searchResults.items\n  ? searchResults.items.slice(0, 5).map((repo) => ({\n      name: repo.full_name,\n      url: repo.html_url,\n      stars: repo.stargazers_count,\n      updated: repo.updated_at,\n      description: repo.description,\n    }))\n  : [];\n\nreturn [\n  {\n    json: {\n      ...previousData,\n      pocCount: searchResults.total_count || 0,\n      pocRepositories: pocRepos,\n      hasPublicExploit: (searchResults.total_count || 0) > 0,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -592
      ],
      "id": "857eac18-9663-47c3-8301-639cc56d0626",
      "name": "Code2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this vulnerability:\n\nCVE ID: {{ $json.cveID }}\nProduct: {{ $json.vendorProject }} {{ $json.product }}\nCVSS Score: {{ $json.cvssScore }}\nCVSS Vector: {{ $json.cvssVector }}\nHas Public Exploit: {{ $json.hasPublicExploit }}\nPoC Count: {{ $json.pocCount }}\nDescription: {{ $json.shortDescription }}\nDue Date: {{ $json.dueDate }}\nRequired Action: {{ $json.requiredAction }}\nIn CISA KEV: {{ $json.inCisaKev }}",
        "options": {
          "systemMessage": "=You are a security vulnerability analyst. Analyze the provided vulnerability data and generate a structured assessment for the security team.\n\nFor each vulnerability, provide:\n1. SUMMARY: A concise description of what the vulnerability is and its impact\n2. RISK ASSESSMENT: Rate as Critical, High, Medium, or Low based on CVSS score and exploit availability\n3. RECOMMENDED ACTION: Specific steps the team should take\n4. EMERGENCY PATCHING: Yes or No, with brief justification\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        560,
        -960
      ],
      "id": "0084369e-d808-4ae7-82ab-60c7a144d135",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        -736
      ],
      "id": "d05968a4-7fac-42b9-9f02-0643a7a2f2d5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5VDd362hpABYIrAx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Loop Over Items').item.json.cveID }}",
        "contextWindowLength": 2000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        -736
      ],
      "id": "ce599db8-7cd0-4645-ac6f-9d4748a4ccc9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        -784
      ],
      "id": "0f8abb1f-fce4-449e-91d0-fae61b22555f",
      "name": "Wait",
      "webhookId": "f32ee67b-b8fe-48dc-8773-b14d25732dfa"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agentOutput = $input.item.json.output;\nconst vuln = $(\"Code2\").item.json;\n\nconst weights = {\n  cvssScore: 0.25,\n  exploitAvailability: 0.25,\n  assetRelevance: 0.2,\n  cisaKev: 0.15,\n  recency: 0.15,\n};\n\nfunction calculatePriorityScore() {\n  let score = 0;\n\n  const cvss = parseFloat(vuln.cvssScore) || 0;\n  score += (cvss / 10) * weights.cvssScore;\n\n  if (vuln.hasPublicExploit) {\n    score += weights.exploitAvailability;\n  }\n\n  if (vuln.inCisaKev) {\n    score += weights.cisaKev;\n  }\n\n  const publishedDate = new Date(vuln.dateAdded || Date.now());\n  const daysSincePublished =\n    (Date.now() - publishedDate.getTime()) / (1000 * 60 * 60 * 24);\n  const recencyScore = Math.exp(-daysSincePublished / 30);\n  score += recencyScore * weights.recency;\n\n  return score;\n}\n\nconst priorityScore = calculatePriorityScore();\n\nlet priorityLevel;\nif (priorityScore >= 0.8) priorityLevel = \"P1_CRITICAL\";\nelse if (priorityScore >= 0.6) priorityLevel = \"P2_HIGH\";\nelse if (priorityScore >= 0.4) priorityLevel = \"P3_MEDIUM\";\nelse priorityLevel = \"P4_LOW\";\n\nreturn {\n  json: {\n    cveID: vuln.cveID,\n    vendorProject: vuln.vendorProject,\n    product: vuln.product,\n    cvssScore: vuln.cvssScore,\n    hasPublicExploit: vuln.hasPublicExploit,\n    inCisaKev: vuln.inCisaKev,\n    agentAnalysis: agentOutput,\n    priorityScore: priorityScore.toFixed(3),\n    priorityLevel: priorityLevel,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -1152
      ],
      "id": "97f09373-c56c-453a-8519-92c70aa430c6",
      "name": "Priority Calculator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priorityLevel }}",
                    "rightValue": "P1_CRITICAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9cf4dc70-1dd6-4a19-a595-e7659a97449a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "P1_CRITICAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3db03446-5b9f-45f0-8949-1cb45fed84d6",
                    "leftValue": "={{ $json.priorityLevel }}",
                    "rightValue": "P2_HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "P2_HIGH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "16fc0dd6-74e4-4bea-a68d-a421c7e1a329",
                    "leftValue": "={{ $json.priorityLevel }}",
                    "rightValue": "=P3_MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "P3_MEDIUM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc39130c-ba65-4dc7-a2ad-e1b92a65c5c8",
                    "leftValue": "={{ $json.priorityLevel }}",
                    "rightValue": "P4_LOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "P4_LOW"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        864,
        -912
      ],
      "id": "a3870843-5815-4f1a-b11c-0abfae1dca17",
      "name": "Route by Priority",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.aumlabs.net/Orhan-Packt-n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Title",
              "value": "={{ $json.priorityLevel }}: {{ $json.cveID }} "
            },
            {
              "name": "Priority",
              "value": "={{ $json.priorityLevel === 'P1_CRITICAL' ? '5' : '4' }}"
            },
            {
              "name": "Tags",
              "value": "warning,skull"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.vendorProject }} {{ $json.product }} - CVSS: {{ $json.cvssScore }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        -1152
      ],
      "id": "b8d5946d-44ed-4f9a-8067-b0156bd61d56",
      "name": "NTFY Alert",
      "credentials": {
        "httpBasicAuth": {
          "id": "0ccnOXaLR3n3RFdV",
          "name": "ntfy.aumlabs.net"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        -960
      ],
      "id": "12c7434c-f471-44b1-8463-8b9a3e000919",
      "name": "Combine All"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "security_intel_raw",
          "mode": "list",
          "cachedResultName": "security_intel_raw"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1136,
        -704
      ],
      "id": "e34c1e01-b2e8-4a6d-8b36-86d49e720b1e",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "OvOsfpGu3jNvJPnQ",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        -544
      ],
      "id": "0298f40e-e44b-43af-9fcf-31df195b5415",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5VDd362hpABYIrAx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1248,
        -544
      ],
      "id": "d86fd71a-4bac-4b90-9714-be2b5898ccc2",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CISA KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA KEV": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVD": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - GHSA": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "GitHub - GHSA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Priority Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "CISA KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Calculator": {
      "main": [
        [
          {
            "node": "Route by Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Priority": {
      "main": [
        [
          {
            "node": "NTFY Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NTFY Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine All",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Combine All",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "NTFY Alert": {
      "main": [
        [
          {
            "node": "Combine All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e05a345-2cec-4880-a2f5-c42f9917bce1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33a6384be4595f666734840b1a2564f4ca97d56c3047e8f1501a8302d137aba7"
  },
  "id": "o1IwZgjvzT3mmGha",
  "tags": []
}